@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background-color: #EFF0F6;
    --border-color: #d7d6fc;
    --primary-purple: #6B00F5;
    --Pattens-Blue: #e1f0fe;
    --Ghost-White: #f7f7ff;
    --White-Ice: #defef0;
}

::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}


.style_img {
    position: absolute;
}

#btm-right {
    bottom: 0;
    right: 0;
}

#bg-left {
    bottom: 0;
    left: 0;
}

#top-right {
    top: 0;
    right: 0;
}

.menu,
.cart {
    height: 85vh;
    width: 375px;
    background: #fff;
    z-index: 1;
    border-radius: 25px;
    box-shadow: 0 0 70px #C7CBE3;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 10px;
}


h1 {
    padding: 20px 0 0 40px;
}

.menu-content {
    display: flex;
    flex-direction: column;
}


.menu-item {
    position: relative;
    display: flex;
    gap: 20px;
    border-radius: 25px 0 0 25px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.menu-item::before {
    content: '';
    display: block;
    background: var(--background);
    position: absolute;
    top: 20px;
    left: 30px;
    height: 100%;
    width: calc(100% - 30px);
    border-radius: 25px 0 0 25px;
    z-index: -1;
}

.menu-content li:nth-child(4n + 1) {
    --background: var(--Pattens-Blue);
}

.menu-content li:nth-child(4n + 2) {
    --background: var(--border-color);
}

.menu-content li:nth-child(4n + 3) {
    --background: var(--Ghost-White);
}

.menu-content li:nth-child(4n + 4) {
    --background: var(--White-Ice);
}


.menu-item__img img{
    height: 148px;
    width: 140px;
}

.menu-item__info {
    padding-top: 45px;
}

.menu-item__info p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 16px 0;
}

.menu-item__info span {
    font-size: 32px;
    line-height: 1;
    font-weight: bold;
}

.menu-item__info button {
    position: absolute;
    bottom: -30px;
    left: 150px;
}

button {
    padding: 4px 18px 4px 18px;
    border-radius: 20px;
    background: #6B00F5;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 10px;
    cursor: pointer;
}

button.in-cart {
    background: #000;
}

.cart .empty{
    padding-left: 40px;
}

.cart-summary {
    margin: 0 30px 0 25px;
}

.cart-summary li {
    display: grid;
    grid-template-areas: "plate content content" 
    "plate quantity subtotal";
    grid-gap: 20px;
    grid-template-columns: 64px 1fr;
    border-bottom: 1px solid #D7D7F9;
    margin-bottom: 45px;
    padding-bottom: 45px;
}

.cart-summary li:last-child {
    border-bottom: 5px solid #D7D7F9;
}

.cart-summary .cart-item-img {
    grid-area: plate;
    position: relative;
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-summary .cart-item-img img {
    height: 64px;
    width: 64px;
    position: absolute;
}

.cart-summary .cart-item-img .quantity {
    position: relative;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 50%;
    z-index: 2;
}

.cart-summary .cart-item-infos {
    grid-area: content;
}

.cart-summary .cart-item-infos .cart-item-name {
    font-size: 1.12rem;
    line-height: 1.1rem;
    margin: 0;
    margin-bottom: 5px;
}

.cart-summary .cart-item-infos .cart-item-price {
    font-size: 1rem;
    font-weight: bold;
} 

.cart-summary .quantity__wrapper {
    grid-area: quantity;
    display: flex;
    align-items: center;
    gap: .8rem;
}

.cart-summary .quantity__wrapper .decreases,
.cart-summary .quantity__wrapper .increases {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.cart-summary .quantity__wrapper .quantity {
    font-size: 1rem;
    font-weight: bold;
}

.cart-summary .quantity__wrapper .increases {
    transform: rotate(180deg);
}

.cart-summary .subtotal {
    grid-area: subtotal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.total {
    padding: 0 40px;
}

.line {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.label {
    font-size: 1rem;
    font-weight: bold;
    width: 60%;
    text-align: right;
}

.line .amount {
    width: 40%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}

.line:nth-child(3) .amount{
    color: #6B00F5;
}

